html, body {
    padding: 0;
    margin: 0;
}

html, body, input, textarea {
    font-family: 'Armata', sans-serif;
}

body {
    background-color: #fff;
    color: #444;
    font-size: small;
}

a {
    text-decoration: none;
    color: #444;
}

#container {
    position: relative;
}

#input {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    background-color: #444;
    color: #fff;
    border: none;
    padding-bottom: 20px;
}

#input input {
    padding: 5px;
    display: block;
    margin: 10px;
}

#input .textbox {
    width: 200px;
}

div#output {
    margin-left: 220px;
    border: none;
}

.response {
    margin: 0;
}

.response h3 {
    background-color: #999;
    color: #fff;
    padding: 10px 20px;
    margin: 0 0 10px;
    font-size: 150%;
    font-weight: normal;
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.response h3 a {
    color: #fff;
}

.response h3 a.pageaction {
    margin-top: 5px;
    float: right;
    font-size: 75%;
    margin-left: 15px;
}

.response div.message {
    margin-top: 60px;
}

.response > ol,
.response > div {
    margin: 10px 20px 10px;
}

.response .message {
    font-size: 150%;
    padding: 10px 0;
}

.response > ol {
    list-style-type: none;
    padding: 0 2px;
}

.response > ol > li {
    overflow: visible;
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: #efefef;
}

.response > ol > li:last-child {
    border-bottom: none;
}

.response > ol > li.expands {
    background-color: #dedede;
}

.response > ol > li.hoveraction,
.response > ol > li.expands:hover {
    border: 1px solid #ccc;
    padding: 9px;
}

.response ol li div.optioncontainer {
    float: right;
    display: inline-block;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.response ol li span.optiontoggle {
    padding: 0 5px;
    cursor: pointer;
}

.response ol ol {
    display: none;
    position: absolute;
    right: 5px;
    top: -30px;
    list-style-type: none;
    margin: 0;
    padding: 0 2px;
    border: 1px solid #ccc;
    background-color: #dedede;
    white-space: nowrap;
}

.response ol ol li {
    display: inline-block;
    padding: 0 5px;
    margin: 4px 2px;
}

.response div.metadata {
    float: right;
    margin: 0;
    text-align: right;
}

.response .metadata a.action {
    display: inline-block;
    font-size: 75%;
    margin-left: 5px;
    padding: 3px 5px;
    background-color: #aaa;
    color: #fff;
}

.loading h3 {
    color: #fff;
}

.action {
    cursor: pointer;
}

#output .response div.result,
#output .response div.notification {
    padding: 10px 20px;
    margin: 70px 0 10px;
}

#output .response div.result {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}

#output .response div.notification {
    overflow: hidden;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==") repeat-x scroll left top lightgreen;
    border: darkgreen;
    color: darkgreen;
    cursor: pointer;
}

#output .notice .message,
#output .error .message {
    margin-top: 10px;
}

#output .error .message {
    color: #f00;
}

ul.menu {
    padding: 0;
    margin: 0;
}

ul.menu li a {
    display: block;
    background-color: #666;
    color: #dedede;
    font-weight: bold;
    font-size: 125%;
    padding: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

div#input-toggle {
    display: none;
}


/**
 * Mobile specific
 */
body.mobile div#output {
    margin-left: 0;
}

body.mobile div#input {
    float: none;
    display: none;
    width: 100%;
    position: static;
}

body.mobile div#output .response h3 {
    position: static;
}

body.mobile #input .textbox {
    width: 100%;
    padding: 10px 0;
    margin: 0 0 10px;
}

body.mobile #input ul.menu li a {
    margin-left: 0;
}

body.mobile #input-toggle {
    display: block;
    font-size: 125%;
    text-align: center;
    padding: 5px;
}


/**
 * Dialog styling
 */
/* Overlay */
#simplemodal-overlay {
    background-color: #000;
}

/* Container */
#simplemodal-container {
    height: 360px;
    width: 600px;
    color: #bbb;
    background-color: #333;
    border: 4px solid #444;
}

#simplemodal-container .simplemodal-data {
    padding: 0;
}

#simplemodal-container .simplemodal-data div {
    padding: 1em;
}

#simplemodal-container .simplemodal-data label {
    padding-right: 1em;
}

#simplemodal-container .simplemodal-data input,
#simplemodal-container .simplemodal-data button {
    padding: 0.5em;
}

#simplemodal-container .simplemodal-data button {
    margin-left: 1em;
}

#simplemodal-container a {
    color: #ddd;
}

#simplemodal-container a.modalCloseImg {
    background: url(img/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}

#simplemodal-container h2 {
    background-color: #444;
    margin: 0;
    padding: 0.5em;
}
