body {
    background-color: #050505;
    color: #06d5c3;
    font-size: small;
    padding: 10px;
}

#input input {
    width: 6%;
    margin-right: 1%;
    padding: 5px;
}

#input .textbox {
    width: 29%;
    margin-right: 0;
}

div#output {
    border: 0;
    font-family: "DejaVu Sans Mono";
    margin-top: 10px;
}

.response {
    width: 50%;
    border: 1px solid #06d5c3;
    margin: 0;
    float: left;
    zoom: 1;
}

.response ol,
.response div,
.response h3 {
    margin: 5px;
}

.response .message {
    background-color: #06d5c3;
    color: #050505;
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
}

.response > ol {
    list-style-type: none;
    padding: 0 2px;
}

.response > ol > li {
    overflow: auto;
    padding: 5px;
    border-bottom: 1px dotted #06d5c3;
}

.response > ol > li:last-child {
    border-bottom: none;
}

.response span.expand {
    float: left;
    display: block;
    padding-right: 10px;
}

.response span.expand:hover {
    background-color: #050505;
    color: #06d5c3;
}

.response ol ol {
    display: none;
    list-style-type: none;
}

.response ol ol li {
    float: left;
    padding: 0 5px;
}

.action {
    cursor: pointer;
}
