html, body {
    padding: 0;
    margin: 0;
}

html, body, input, textarea {
    font-family: 'Armata', sans-serif;
}

body {
    background-color: #fff;
    color: #444;
    font-size: small;
}

#container {
    position: relative;
}

#input {
    float: left;
    width: 220px;
    background-color: #444;
    color: #fff;
    border: none;
    padding-bottom: 20px;
}

#input input {
    padding: 5px;
    display: block;
    margin: 10px;
}

#input .textbox {
    width: 200px;
}

div#output {
    margin-left: 220px;
    border: none;
}

.response {
    margin: 0;
}

.response h3 {
    background-color: #999;
    color: #fff;
    padding: 10px 20px;
    margin: 0 0 10px;
    font-size: 150%;
    font-weight: normal;
}

.response h3 span.refresh {
    float: right;
}

.response ol,
.response div {
    margin: 10px 20px 10px;
}

.response .message {
    font-size: 150%;
    padding: 10px 0;
}

.response > ol {
    list-style-type: none;
    padding: 0 2px;
}

.response > ol > li {
    overflow: auto;
    padding: 10px;
    margin: 5px 0 0 0;
    background-color: #efefef;
}

.response > ol > li:last-child {
    border-bottom: none;
}

.response > ol > li.expands {
    background-color: #dedede;
}

.response > ol > li.hoveraction,
.response > ol > li.expands:hover {
    border: 1px solid #ccc;
    padding: 9px;
}

.response ol ol {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.response ol ol li {
    display: inline-block;
    float: left;
    padding: 0 5px;
}

.loading h3 {
    color: #fff;
}

.action {
    cursor: pointer;
}

div.result {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}

.error .message {
    color: #f00;
}

span.menu {
    display: block;
    background-color: #666;
    color: #dedede;
    font-weight: bold;
    font-size: 125%;
    padding: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

div#input-toggle {
    display: none;
}

body.mobile div#output {
    margin-left: 0;
}

body.mobile div#input {
    float: none;
    display: none;
    width: 100%;
}

body.mobile #input .textbox {
    width: 100%;
    padding: 10px 0;
    margin: 0 0 10px;
}

body.mobile #input span.menu {
    margin-left: 0;
}

body.mobile #input-toggle {
    display: block;
    font-size: 125%;
    text-align: center;
    padding: 5px;
}
